*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.route-wrapper {
    min-height: 100%;
}
